
#lp h1, #lp img {
	margin: 50px auto;
}

p.infotext {
	margin: 40px 0;
}

.padding-10 {
    padding: 10px;
}

span.antwortinfo
{
	color:gray;
	font-weight: normal;
	font-size: 0.8em;
}

.form-group > label
{
	font-size: 1.2em;
}

div.textantwort
{
	width: 90%;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	margin: 10px;
	padding: 15px;
}

div.barchart
{
	background-color:#7693ff;
	text-align: right;
}
div.barchart_border
{
	/*border: 1px solid #5369bc;*/
}
div.barchart_nichtausgefuellt
{
	background-color:#cccccc;
	text-align: right;
}

div.lvepanel
{
	border: 1px solid #CCC;
	margin: 10px;
	margin-top: 20px;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

div.lvepanel.disabled
{
	color:gray;
}

div.lvepanel.disabled > div.lvepanel-head
{
	background-color:lightgray;
}

div.lvepanel-head
{
	background-color: #DCE4EF;
	font-weight: bold;
	padding: 5px;
}

div.lvepanel-body
{
	padding: 5px;

}